@font-face {
    font-family: 'galleryPlayer';
    src: url('../font/galleryPlayer.eot?ws5voo');
    src: url('../font/galleryPlayer.eot?ws5voo#iefix') format('embedded-opentype'),
        url('../font/galleryPlayer.ttf?ws5voo') format('truetype'),
        url('../font/galleryPlayer.woff?ws5voo') format('woff'),
        url('../font/galleryPlayer.svg?ws5voo#galeryPlayer') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* ============= General Page styles ============= */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

a {
    text-decoration: none;
    color: #74515F;
}

a:hover {
    text-decoration: underline;
    color: #74515F;
}

a img {
    border-width: 0px;
}

ul,
ol {
    margin: 5px 0 0 0;
    padding: 0 0 0 20px;
    list-style-position: outside;
}

p {
    text-align: left;
    margin: 0;
    line-height: 1.3em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

q:before,
q:after {
    content: "";
}

/* ============= Accessibility menu ============= */
#accessibility {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    width: auto;
    z-index: 90;
    font-size: 0.8em;
    top: 5px;
}

#accessibility li {
    float: left;
    margin-right: 10px;
}

#accessibility a:hover {
    text-decoration: none;
}

/* ============= Category menu ============= */

ul.outCat {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: center;
    background-color: #ffffff;
    border-left: 8px solid #e0dcd8;
    border-right: 8px solid #e0dcd8;
}

ul.outCat li {
    display: inline-block;
}

ul.outCat .outCat_i {
    display: inline-block;
    padding: 4px 5px;
    font-size: 1.2em;
    font-variant: small-caps;
}

ul.outCat span.outCat_i {
    cursor: default;
}

ul.outCat a:hover {
    text-decoration: none;
}

/* ============= Top Nav menu ============= */
#navigation ul.outNav {
    position: absolute;
    right: 0px;
    bottom: 0px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 5px 2px 3px 6px;
}

#navigation ul.outNav li {
    float: left;
    margin-right: 10px;
}

#navigation ul.outNav .outNav_i {
    padding: 2px;
    font-weight: bold;
}

#navigation ul.outNav a:hover {
    text-decoration: none;
}

#navigation ul.outNav span.outNav_i {
    display: inline;
}

/* ============= Bottom Nav menu ============= */
ul.outNav {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 5px 0;
    padding: 0 10px 0 0;
    text-align: right;
}

ul.outNav li {
    display: inline;
    margin-left: 10px;
}

ul.outNav span.outNav_i {
    visibility: hidden;
}

/* ============= Top back menu ============= */
#navigation ul.outBk {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 10px;
    display: inline-block;
    text-align: center;
    background-color: #ffffff;
    border-left: 8px solid #e0dcd8;
    border-right: 8px solid #e0dcd8;
    border-top: 8px solid #e0dcd8;
    padding-left: 0px;
}

#navigation ul.outBk li {
    display: inline-block;
    border-bottom: 8px solid #e0dcd8
}

#navigation ul.outBk li:hover {
    border-bottom: 8px solid #967381;
}

#navigation ul.outBk .outBk_i {
    display: inline-block;
    padding: 4px 5px;
    font-size: 1.2em;
    font-variant: small-caps;
}

#navigation ul.outBk a:hover {
    text-decoration: none;
}

/* ============= Left menu ============= */
ul.outMnu {
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 0px 0px 0px 20px;
}

ul.outMnuOneRoot {
    list-style-type: none;
    padding: 0;
}

ul.outMnu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 20px;
}

ul.outMnu li {
    margin-top: 0.5em;
    list-style-type: none;
}

span.outMnu_i {
    color: #74515F;
}

a.outMnu_i {
    color: #74515F;
}

ul.outMnu ul.outMnu_sub a.outMnu_i {
    color: #000000;
    display: block;
    /*! margin-left: 17px; */
}

ul.outMnu ul.outMnu_sub span.outMnu_i {
    color: #000000;
}

ul.outMnu ul.outMnu_sub ul.outMnu_sub a.outMnu_i {
    color: #000000;
    display: block;
    margin-left: 32px;
}

ul.outMnu ul.outMnu_sub ul.outMnu_sub span.outMnu_i {
    color: #000000;
}

ul.outMnu ul.outMnu_sub ul.outMnu_sub ul.outMnu_sub a.outMnu_i {
    color: #000000;
    display: block;
    margin-left: 47px;
}

ul.outMnu ul.outMnu_sub ul.outMnu_sub ul.outMnu_sub span.outMnu_i {
    color: #000000;
}

li.outMnu_sel_yes .outMnu_sel_yes {
    background-color: #e0dcd8;
}

ul.outMnu .outMnu_sel_no .outMnu_sel_no:hover {
    background-color: #f0eeeb;
}

ul.outMnu ul.outMnu_sub li.outMnu_sel_no .outMnu_sel_no:hover {
    background-color: #f0eeeb;
}

ul.outMnu ul.outMnu_sub ul.outMnu_sub li.outMnu_sel_no .outMnu_sel_no:hover {
    background-color: #f0eeeb;
}

ul.outMnu ul.outMnu_sub ul.outMnu_sub ul.outMnu_sub li.outMnu_sel_no .outMnu_sel_no:hover {
    background-color: #f0eeeb;
}

ul.outMnu li.outMnu_sel_no:hover {
    background-color: #ffffff;
}

ul.outMnu ul.outMnu_sub li.outMnu_sel_no:hover {
    background-color: transparent;
}

ul.outMnu ul.outMnu_sub ul.outMnu_sub li.outMnu_sel_no:hover {
    background-color: #ffffff;
}

.outMnu_i:hover {
    text-decoration: none;
}

ul.outMnu li.outMnu_b {
    list-style-type: none;
}

ul.outMnu a.outMnu_tgle_o,
ul.outMnu a.outMnu_tgle_c {
    width: 7px;
    display: inline-block;
    background-image: url(../img/co/mnuTgle.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    height: 7px;
    margin-left: 5px;
    margin-right: 5px;
}

ul.mnu_root ul.outMnu_sub li.outMnu_l .outMnu_i {
    margin-left: 17px;
}

ul.mnu_root ul.outMnu_sub ul.outMnu_sub a.outMnu_tgle_o,
ul.mnu_root ul.outMnu_sub ul.outMnu_sub a.outMnu_tgle_c {
    margin-left: 20px;
    float: left;
    margin-top: 6px;
}

ul.mnu_root ul.outMnu_sub ul.outMnu_sub li.outMnu_l .outMnu_i {
    margin-left: 32px;
}

ul.mnu_root ul.outMnu_sub ul.outMnu_sub ul.outMnu_sub a.outMnu_tgle_o,
ul.mnu_root ul.outMnu_sub ul.outMnu_sub ul.outMnu_sub a.outMnu_tgle_c {
    margin-left: 35px;
    float: left;
    margin-top: 6px;
}

ul.mnu_root ul.outMnu_sub ul.outMnu_sub ul.outMnu_sub li.outMnu_l .outMnu_i {
    margin-left: 47px;
}

ul.outMnu li.outMnu_b .outMnu_i {
    padding-left: 5px;
}

ul.outMnu li.outMnu_l .outMnu_i {
    margin-left: 5px;
    display: block;
}

ul.outMnu li.outMnu_l .outMnu_i:hover {
    text-decoration: none;
}

ul.outMnu a.outMnu_tgle_o span,
ul.outMnu a.outMnu_tgle_c span {
    display: none;
}

ul.outMnu a.outMnu_tgle_c {
    background-position: 0px 0px;
    float: left;
    margin-top: 6px;
}

ul.outMnu a.outMnu_tgle_o {
    background-position: 0px -14px;
    float: left;
    margin-top: 6px;
}

ul.outMnu li.outMnu_sel_yes>div>a.outMnu_tgle_c {
    background-position: 0px -7px;
}

ul.outMnu li.outMnu_sel_yes>div>a.outMnu_tgle_o {
    background-position: 0px -21px;
}

li.outPre ul.outMnu_sub .outMnu_i {
    font-style: normal;
}

/* Spécifique root element */
ul.mnu_root {
    padding: 3px 0 3px 0px;
    border: 8px solid #e0dcd8;
    background-color: #ffffff;
}

ul.outMnu div.outMnu_dpt_0 a.outMnu_tgle_o,
ul.outMnu div.outMnu_dpt_0 a.outMnu_tgle_c {
    display: none;
}

ul.outMnu div.outMnu_dpt_0 .outMnu_i {
    font-weight: bold;
    font-size: 1.5em;
    display: block;
}

/* ============= Base template Colors ============= */
/* ---------- html ---------- */
body {
    color: black;
    background-color: #f0eeeb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #74515F;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5em;
}

ul,
ol {
    color: #000000;
}

li p,
li div {
    color: black;
}

ol.footNotes *:target {
    background-color: #eeecdd;
}

/* ---------- template ---------- */
a.rootLnk {
    color: #74515f;
    font-size: 1.5em;
}

a.rootLnk:hover {
    color: #967381;
    text-decoration: none;
}

#navigation {
    /* Main nav bar */
    text-align: center;
}

div.tplCoFra {
    border: 8px solid #e0dcd8;
    background-color: #ffffff;
    padding: 1em;
}

/* ---------- menus ---------- */
#accessibility a {
    opacity: 0;
}

#accessibility a:hover,
#accessibility a:focus {
    opacity: 1;
}

ul.outCat li.outCat_sel_yes .outCat_i {
    border-bottom: 8px solid #74515f;
    border-top: 8px solid #e0dcd8;
    padding: 8px;
}

ul.outCat li.outCat_sel_no .outCat_i {
    border-bottom: 8px solid #e0dcd8;
    border-top: 8px solid #e0dcd8;
    padding: 8px;
}

ul.outCat .outCat_i {
    color: #74515F;
}

ul.outCat a.outCat_i:hover {
    background: #ffffff;
    border-bottom: 8px solid #967381;
}

/* ---------- Content ---------- */
.noscript {
    color: #737373;
}

#navigation .noscript {
    color: white;
}

/* ============= Cookie warn bar ============= */
.cookieWarnBar {
    position: fixed;
    border-top: 2px solid #e0dcd8;
    box-shadow: 0 0 5px #e0dcd8;
    background-color: #FFF;
    opacity: 1;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.cookieWarnBar.acknowledged {
    display: none;
}

.cookieWarnContent {
    display: flex;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 6px 10px;
    box-sizing: border-box;
}

.cookieWarnMsg {
    flex: 1 1 auto;
}

.cookieWarnBtnOk,
.cookieWarnBtnNok {
    display: inline-block;
    background: #967381;
    color: white;
    border: 1px solid #967381;
    border-radius: 0.2em;
    padding: 0.1em 0.3em;
    margin: 0 0.3em;
}

.cookieWarnBtnOk:hover,
.cookieWarnBtnNok:hover {
    background: white;
    color: #967381;
    text-decoration: none;
}

/* ============= Content styles ============= */

#header,
#menu {
    cursor: default;
}

#header h1 {
    text-transform: uppercase;
}

#footer a {
    margin-right: 5px;
}

#footer img {
    vertical-align: middle;
}

div.tplFootBanner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2px 0;
    color: #74515f;
    font-size: 0.8em;
    cursor: default;
}

div.tplFootBanner span.copyright {
    padding: 2px 0 0 5px;
    order: 1;
    flex: 2 1 auto;
}

div.tplFootBanner a.legalLnk:hover {
    color: #937381;
}

div.tplFootBanner a.legalLnk {
    order: 2;
}

div.tplFootBanner a.cookieWarnBtnBar {
    order: 3;
}

div.tplFootBanner a.generatorLink {
    order: 4;
}

div.margin {
    background-color: #ffffff;
    padding: 3px;
    border: 8px solid #e0dcd8;
}

.margin_ti {
    color: #74515f;
    font-size: 1.125em;
    padding: 5px;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}

div.margin_co {
    font-size: 0.9em;
    overflow: auto;
}

div.margin_co p {
    text-align: left;
}

table.docHead th {
    padding-right: 5px;
    text-align: right;
}

.margin_co .event .tt_a {
    display: block;
}

.binCap {
    text-align: center;
    margin: 10px;
}

.binImg {
    max-width: 600px;
}

.binCap_ti {
    color: #737373;
    font-style: italic;
}

.webCap {
    text-align: center;
    margin: 10px;
}

.webCap_ti {
    color: #737373;
    font-style: italic;
}

div.margin_co .binCap,
div.margin_co .webCap {
    margin: 2px 0 3px 0;
}

.binImgInline {
    vertical-align: middle;
}

/* info tt anc */
.txt_def_act,
.txt_doc_act,
.txt_ref_act {
    color: #FFFFFF;
    background-color: #967381;
}

.txt_def_act:hover,
.txt_doc_act:hover,
.txt_ref_act:hover {
    color: white;
}

/* External links */
.txt_url_ul,
li.outMnu_typ_ext .outMnu_i,
li.outCat_typ_ext .outCat_i span,
div.docUrl a {
    background: url("../img/co/lnkExt.png") center right no-repeat;
    padding-right: 12px;
}

/* Event lists */
.margin .evtList {
    padding-right: 1px;
}

.evtListEvt {
    list-style-image: url("../img/co/evt.png");
}

.evtListDesc {
    list-style-type: square;
}

.event_closed {
    background: url("../img/co/clbClsSml.png") 0 1.5px no-repeat;
    color: #967381;
}

.event_open {
    background: url("../img/co/clbOpnSml.png") 0 1.5px no-repeat;
    color: #967381;
}

.event_closed:hover,
.event_open:hover {
    text-decoration: none;
    color: #967381;
}

.event {
    margin-bottom: 5px;
}

.event_ti {
    padding-left: 12px;
    color: #74515F;
}

.margin_co .event_ti {
    padding-left: 0;
}

.event_co {
    margin-bottom: 10px;
}

.event_co li {
    list-style-image: none;
}

/* Section */
div.bkBase_co .bkSec .bkBase_ti {
    border-bottom: 1px solid;
}

/* Bal ped */
.bkBase {
    margin: 1.5em 0em;
}

div.bkBase_co .bkInfo .bkBase_ti {
    /*! border-bottom: none; */
}

.bkBase_closed {
    background: url("../img/co/clbClsLge.png") bottom left no-repeat;
    padding-left: 18px;
    border-bottom: 1px solid #74515F;
    min-height: 16px;
}

.bkBase_open {
    background: url("../img/co/clbOpnLge.png") bottom left no-repeat;
    padding-left: 18px;
    min-height: 16px;
}

.bkBase_closed:hover,
.bkBase_open:hover {
    text-decoration: none;
    color: #74515F;
}

.bkEmphasis {
    background: #f0eeeb;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #CCC;
    padding: 0.5em 0.5em 0.2em;
}

.bkEmphasis .bkBase_ti {
    margin-top: 0;
}

.margin_co .bkBase_ti {
    font-weight: bold;
    color: #74515F;
}

.bkBase_co .bkBase .bkBase_ti,
.bkBase_closed {
    /*! border-bottom: none; */
}


/* ---------- text ---------- */
.txt_tb {
    margin: auto;
    border: 2px solid #74515F;

}

.txt_tb caption {
    color: #737373;
    font-style: italic;
}

.txt_tb td,
.txt_tb th {
    border: 1px solid #967381;
}

.txt_tb thead {
    border-bottom: 2px solid #74515F;
}

.txt_tb tfoot {
    border-top: 2px solid #74515F;
}

.txt_tb p {
    margin: 1px 0;
}

.txt_t_tbcl,
.txt_t_tbtr {
    background-color: #f0eeeb;
}

.txt_n_tbtd p {
    text-align: right;
}

.txt_w_tbtd p {
    text-align: center;
}

.txt_emphasis_is,
.txt_quote_ph,
.txt_special_ph {
    color: #74515F;
}

.lnkZoom {
    background: url("../img/co/lnkZoom.png") center no-repeat;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 3px;
}

.lnkZoom:hover {
    background-image: url("../img/co/lnkZoomOvr.png");
}

.lnkZoom span {
    display: none;
}

/* ---------- binary files lnks ---------- */
.infoVideo,
.infoAudio {
    font-style: italic;
    color: #777777;
}

.infoVideo p,
.infoAudio p {
    text-align: center;
}

.lnkBin {
    padding-left: 15px;
    background-image: url(../img/co/types.png);
    background-repeat: no-repeat;
}

.lnkBinWeb {
    padding-left: 0px;
    background: none;
}

.lnkBinDoc {
    background-position: 0px 2px;
}

.lnkBinFlv {
    background-position: 0px -13px;
}

.lnkBinMp3 {
    background-position: 0px -28px;
}

.lnkBinOdg {
    background-position: 0px -43px;
}

.lnkBinOdp {
    background-position: 0px -58px;
}

.lnkBinOds {
    background-position: 0px -73px;
}

.lnkBinOdt {
    background-position: 0px -88px;
}

.lnkBinPdf {
    background-position: 0px -103px;
}

.lnkBinPpt {
    background-position: 0px -118px;
}

.lnkBinRtf {
    background-position: 0px -133px;
}

.lnkBinSwf {
    background-position: 0px -148px;
}

.lnkBinXls {
    background-position: 0px -163px;
}

.lnkBinZip {
    background-position: 0px -178px;
}

/* ---------- tooltips ---------- */
.tt_act {
    color: white;
    background-color: #967381;
}

div.tt {
    font-size: 0.9em;
    border: 1px solid #74515F;
    background-color: white;
}

div.tt_ti {
    background-color: #967381;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 2px 15px 2px 2px;
}

.tt_x {
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 1px;
    right: 1px;
    background: url("../img/co/ttCls.png") top left no-repeat;
}

.tt_x:hover {
    background-image: url("../img/co/ttClsOvr.png");
}

.tt_x span {
    display: none;
}

div.tt_co {
    padding: 5px;
}

div.tt_co p {
    margin: 0 0 2px 0;
    text-align: left;
}

a.ttEvt_a {
    color: #74515F;
    border-bottom: 0px;
}

a.ttEvt_a:hover {
    border-bottom: 0px;
    text-decoration: underline;

}

a.ttEvt_act {
    color: #FFFFFF;
}

div.ttEvt_ti {
    display: none;
}

div.ttEvt_co {
    padding: 0 18px 0 0;
    background-color: #967381;
}

div.ttExtCo {
    padding: 5px 5px 5px 5px;
    background-color: white;
}

ol.footNotes {
    margin: 10px;
    font-size: 0.8em;
    padding-top: 5px;
    padding-left: 20px;
}

li.footNotes_it {
    margin-bottom: 10px;
    padding: 2px;
}

ol.footNotes p {
    margin: 0 0 5px 0;
}

div.footNotes_itti {
    font-weight: bold;
}

ol.footNotes .tt_x {
    display: none;
}

/* ---------- Gallery ---------- */

.imgLoading .scImgGalCvs::before {
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../img/co/loader.svg");
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 2001;
    width: 100%;
    height: 100%;
}

.imgLoading .scImgGalFra {
    display: none;
}

.galFra,
.galMiniFra {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galMiniFra {
    justify-content: start;
}

/* .galFra {
	width: 90%;
	margin: auto;
} */

.galFra img {
    padding: 5px;
}

.galMiniFra img {
    height: 80px;
    width: auto;
}

.scImgSep {
    display: none;
}

a.galPvLnk:hover {
    opacity: 0.8;
}

.scImgGalCvs {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2001;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.scImgGalImgFra {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 30px;
    overflow: hidden;
}

.scImgGalCo {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 0;
}

.scImgGalTbr {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.scImgGalTbr .scImgGalCount {
    display: inline;
    bottom: 5px;
    right: 35px;
    font-style: italic;
    color: gray;
    cursor: default;
}

div.scImgGalOver,
div.scImgZmOver {
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

div.scImgGalTi {
    font-style: italic;
    color: gray;
    cursor: default;
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

div.scImgGalTbr span,
a.scImgGalBtnCls span {
    display: none;
    position: absolute;
}

a.scImgGalBtnCls,
a.scImgZmBtnCls,
div.scImgGalTbr a {
    font-family: 'galleryPlayer' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;
    width: 30px;
    text-align: center;
    text-decoration: none;
}

a.scImgGalBtnCls:before,
a.scImgZmBtnCls:before {
    content: "\ea0f";
}

a.scImgGalBtnCls,
a.scImgZmBtnCls {
    display: block;
    top: 5px;
    right: 5px;
    font-size: 2em;
}

.isMobile_true a.scImgGalBtnCls,
.isMobile_true a.scImgZmBtnCls {
    top: 10px;
}

a.scImgGalBtnCls,
.isMobile_true a.scImgZmBtnCls {
    position: absolute;
}

div.scImgGalTbr a {
    display: block;
    position: absolute;
}

div.scImgGalTbr a:hover {
    text-decoration: none;
}

a.scImgGalBtnPrv,
a.scImgGalBtnNxt {
    top: 1.5em;
    font-size: 4em;
    margin-top: -1.25em;
    position: fixed !important;
    width: 1em !important;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.isMobile_true a.scImgGalBtnPrv,
.isMobile_true a.scImgGalBtnNxt {
    position: absolute !important;
}

a.scImgGalBtnPrv:before {
    content: "\e833";
}

a.scImgGalBtnPrv {
    left: 5px;
}

a.scImgGalBtnNxt:before {
    content: "\ea34";
}

a.scImgGalBtnNxt {
    right: 5px;
}

a.scImgGalBtnPse:before {
    content: "\ea16";
}

a.scImgGalBtnPly,
a.scImgGalBtnPse {
    font-size: 1.5em;
    color: gray !important;
    bottom: 4px;
    right: 0;
}

a.scImgGalBtnPly:before {
    content: "\ea15";
}

.noScroll {
    overflow: hidden;
}

/* ---------- zoom ---------- */
div.scImgZmCvs {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 2001;
    width: 100%;
    height: 100%;
}

.imgLoading .scImgZmCvs::before {
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../img/co/loader.svg");
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 2001;
    width: 100%;
    height: 100%;
}

div.scImgZmFra {
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
}

div.scImgZmTlb {
    margin-top: 5px;
    text-align: right;
}

a.scImgZmBtnCls {
    position: fixed;
}

a.scImgZmBtnCls span,
a.scImgGalBtnNoPrv {
    display: none;
}

.scImgZmCo {
    text-align: center;
}

.scImgZmCo div {
    z-index: 2002;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border: 0px;
}

.scImgZmCo iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border: 0px;
}

.scImgZmCo a {
    text-decoration: none;
}

.scImgZmCo a img {
    border: 0px;
}

.scImgZmCo img {
    background-color: white;
}

/* ---------- Options ---------- */
div.optContent {
    margin-top: 30px;
    padding-top: 10px;
}

/* ---------- search, optSearch ---------- */
div.searchFra {
    position: absolute;
    right: 5px;
    top: 1.5em;
    min-height: 19px;
}

input.searchText,
input.schInput {
    border: 2px solid #74515F;
    box-shadow: inset 0px 0px 3px #BBB;
    font-size: 0.9em;
    width: 95px;
    height: 20px;
    padding-left: 5px;
}

.schLabel {
    position: absolute;
    left: -9999px;
}

form.schForm {
    display: flex;
    align-items: center;
}

input.searchSubmit,
input.schBtnLaunch {
    display: inline-block;
    width: 27px;
    height: 26px;
    background-image: url("../img/co/search.png");
    background-color: #967381;
    border: 2px solid #74515F;
    cursor: pointer;
    color: transparent;
}

input.searchSubmit:hover,
input.schBtnLaunch:hover {
    background-image: url("../img/co/searchOver.png");
}

input.searchSubmit span,
input.schBtnLaunch span {
    display: none;
}

.schPgeBk .schPgeBtn,
.mnu_sch_yes .mnu_lnk {
    background-image: url(../img/co/schPgeRank.png);
    background-repeat: no-repeat;
    background-position: right;
}

div.schNoRes {
    text-align: center;
    font-size: 1.063em;
    margin-top: 18px;
}

.mnu_sch,
.schPgeBtn>span {
    display: block;
    background-color: white;
}

.schPgeRank_1 .mnu_sch,
.schPgeRank_1 .schPgeBtn>span {
    margin-right: 17px;
}

.schPgeRank_2 .mnu_sch,
.schPgeRank_2 .schPgeBtn>span {
    margin-right: 35px;
}

.schPgeRank_3 .mnu_sch,
.schPgeRank_3 .schPgeBtn>span {
    margin-right: 53px;
}

.schPgeRank_4 .mnu_sch,
.schPgeRank_4 .schPgeBtn>span {
    margin-right: 71px;
}

.schPgeRank_5 .mnu_sch,
.schPgeRank_5 .schPgeBtn>span {
    margin-right: 89px;
}

.schPgeRank_6 .mnu_sch,
.schPgeRank_6 .schPgeBtn>span {
    margin-right: 107px;
}

.schPgeRank_7 .mnu_sch,
.schPgeRank_7 .schPgeBtn>span {
    margin-right: 125px;
}

.schPgeRank_8 .mnu_sch,
.schPgeRank_8 .schPgeBtn>span {
    margin-right: 143px;
}

.schPgeRank_9 .mnu_sch,
.schPgeRank_9 .schPgeBtn>span {
    margin-right: 160px;
}

div.schPropose a:hover {
    text-decoration: none;
}

.schPropose {
    position: absolute;
    width: 102px;
    border: 1px solid #74515F;
    border-top: 0px;
    background-color: white;
    z-index: 100;
    font-size: 0.9em;
}

.schBtnPropose {
    display: block;
    text-decoration: none;
    font-style: italic;
    padding: 2px 3px;
    margin: 1px;
}

.schBtnPropose:hover,
.schBtnPropose:active,
.schBtnPropose:focus {
    outline: none;
    text-decoration: none;
    background-color: #E0dcd8;
}

.schProposeExceeded {
    display: block;
    color: #967381;
    font-style: italic;
    padding: 2px 3px;
}

div.schProp_no {
    display: none;
}

.schCmds_act input.schInput {
    border: 2px solid #74515F;
}

.schResFrame {
    position: fixed;
    left: 50%;
    bottom: -80px;
    width: 700px;
    margin-left: -350px;
    color: #74515F;
    background-color: #f0eeeb;
    border-right: 1px solid #74515F;
    border-top: 1px solid #74515F;
    border-left: 1px solid #74515F;
    height: 50px;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    z-index: 91;
}

.schDisplay_on .schResFrame {
    bottom: 0px;
}

.schDisplayList_on .schResFrame {
    height: 530px;
}

.schResList {
    position: absolute;
    bottom: 5px;
    left: 5px;
    top: 5px;
    right: 5px;
    display: none;
}

.schDisplayList_on .schResList {
    display: block;
}

.schResListSrl {
    position: absolute;
    left: 0px;
    right: 0px;
    overflow: auto;
    padding: 5px;
}

.searchResults a {
    margin: 0 5px;
}

.schBtnTgle {
    background-image: url(../img/co/schBtn.png);
    background-position: 0px -20px;
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    display: block;
    position: absolute;
    bottom: 3px;
    left: 6px;
}

.schDisplayList_on .schBtnTgle {
    background-position: 0px 0px;
}

.schBtnTgle span {
    display: none;
}

.schBtnReset {
    background-image: url(../img/co/schBtn.png);
    background-position: 0px -70px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: -14px;
    right: -15px;
}

.schBtnReset:hover {
    opacity: 0.8;
}

.schBtnReset span {
    display: none;
}

.schHitBox,
.schResBox,
.schPageBox {
    text-align: left;
    margin: 4px 0px 0 40px;
    font-size: 0.875em;
    line-height: 16px;
}

.schHitBox {
    background-image: url(../img/co/schBack.png);
    background-position: right 0px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 27px;
    left: 0;
    right: 0;
}

.schPageBox {
    background-image: url(../img/co/schBack.png);
    background-position: right -35px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
}

.schDisplay_none .schResBox {
    text-align: center;
    margin: 20px 200px 6px 200px;
}

.schDisplay_none .schHitBox {
    display: none;
}

.schBtnNxt,
.schBtnPrv,
.schBtnPrvHit,
.schBtnNxtHit {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-image: url(../img/co/schBtn.png);
    background-repeat: no-repeat;
}

.schBtnAct_no,
.schBtnHitAct_no {
    display: none;
}

.schBtnNxt span,
.schBtnPrv span,
.schBtnPrvHit span,
.schBtnNxtHit span {
    display: none;
}

.schDisplay_none .schBtnNxt,
.schDisplay_none .schBtnPrv,
.schDisplay_none .schBtnPrvHit,
.schDisplay_none .schBtnNxtHit {
    display: none;
}

.schDisplay_one .schBtnNxt,
.schDisplay_one .schBtnPrv {
    display: none;
}

.schBtnNxt {
    background-position: 0px -40px;
}

.schBtnPrv {
    background-position: 0px -55px;
}

.schBtnNxtHit {
    background-position: 0px -40px;
}

.schBtnPrvHit {
    background-position: 0px -55px;
}

.schHitFrame {
    background: url(../img/co/schHit.png) center right no-repeat;
    position: absolute;
    bottom: 8px;
    right: 40px;
    left: 40px;
    height: 20px;
    font-size: 1.2em;
}

.schBtnPrvHit {
    top: 3px;
    right: 57px;
}

.schBtnNxtHit {
    top: 3px;
    right: 5px;
}

.schBtnPrv {
    right: 57px;
    top: 0;
}

.schBtnNxt {
    right: 5px;
    top: 0;
}

.schPgeBk .schPgeBtn span {
    background-position: center right;
    background-repeat: no-repeat;
    display: block;
    padding-right: 165px;
}

.schPgeBk .mnu_lnk span {
    background-position: center right;
    background-repeat: no-repeat;
    display: block;
}

.schPgeBk span.schPgeRank {
    display: none;
}

.searchResults a.schPgeBtn,
.searchResults a.mnu_lnk {
    margin: 2px;
    display: block;
    color: #74515F;
}

li.mnu_sel_yes .schPgeBtn,
div.mnu_sel_yes .mnu_lnk {
    font-weight: bold;
    text-decoration: underline;
    cursor: default;
}

div.mnu_sch_no a.mnu_lnk {
    color: #74515F;
    cursor: default;
}

div.mnu_sch_no a.mnu_lnk:hover {
    text-decoration: none;
}

.searchResults a.mnu_tgle_o,
.searchResults a.mnu_tgle_c {
    position: absolute;
    margin-top: -14px;
    margin-left: -16px;
    width: 7px;
    height: 7px;
    display: inline-block;
    background-image: url(../img/co/mnuTgle.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.searchResults a.mnu_tgle_o span,
.searchResults a.mnu_tgle_c span {
    display: none;
}

.searchResults div.mnu_sch_yes a.mnu_tgle_c {
    background-position: 0px -7px;
}

.searchResults div.mnu_sch_yes a.mnu_tgle_o {
    background-position: 0px -21px;
}

.searchResults div.mnu_sch_no a.mnu_tgle_c {
    background-position: 0px 0px;
}

.searchResults div.mnu_sch_no a.mnu_tgle_o {
    background-position: 0px -14px;
}

.schResListSrl ul.mnu_root {
    padding: 0 0 0 20px;
}

.schResListSrl li.mnu_b {
    list-style-type: none;
    margin: 0;
}

.schResListSrl ul {
    color: #74515F;
    margin: 0;
    list-style: disc;
    padding-left: 13px;
    list-style-position: outside;
}

.schResListSrl ul.schParentList {
    list-style-type: none;
}

.schResListSrl ul.schParentList_c {
    display: none;
}

.schResListSrl ul.schParentList_o {
    display: block;
}

li.schPgeBk {
    position: relative;
}

a.schParent_tgle_c,
a.schParent_tgle_o {
    position: absolute;
    margin-left: -16px;
    top: 2px;
    width: 7px;
    height: 7px;
    display: inline-block;
    background-image: url(../img/co/mnuTgle.png);
    background-repeat: no-repeat;
}

a.schParent_tgle_c span,
a.schParent_tgle_o span {
    display: none;
}

a.schParent_tgle_c {
    background-position: 0px -7px;
}

a.schParent_tgle_o {
    background-position: 0px -21px;
}

.schParent_tgle_c:hover,
.schParent_tgle_o:hover {
    text-decoration: none;
    color: #74515F;
}

.schPgeBtn:hover,
.mnu_lnk:hover {
    color: #967381;
}

.schResCnt,
.schHitCnt {
    display: inline-block;
    min-width: 40px;
    text-align: center;
}

.schDisplay_none .schResCnt,
.schDisplay_one .schResCnt {
    display: none;
}

.schHit {
    background-color: #f0eeeb;
    border-radius: 3px;
}

.schHit_current {
    background-color: #e0dcd8;
    color: white;
    border-radius: 3px;
}

.schTerm {
    font-weight: bold;
}

.schTerm em {
    font-weight: normal;
}

.schDisplay_on #menu ul.mnu_root .mnu_sch_no>a:hover {
    text-decoration: none;
}

.schDisplay_on #menu ul.mnu_root .mnu_sch_no>a.mnu_lnk {
    color: #74515F;
    cursor: default;
}

.tplSchBox {
    /* Fixed IE7 */
    position: relative;
    z-index: 2;
}



/* ============= Blog stuff ============= */
.bkPostItem {
    background-color: #f0eeeb;
    padding: 5px;
}

.bkPostItem h3 {
    margin: 0;
}

.postCo {
    background-color: white;
    padding: 1px 5px;
    margin: 3px 3px;
}

.postCo .bkBase {
    margin: 0.5em 0;
}

ul.tagList {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0;
}

ul.tagList>li a {
    display: block;
}

ul.tagList>li {
    padding: 0 3px;
    margin: 3px 0;
}

ul.tagList>li.tagFilter_true {
    background-color: #f0eeeb;
}

.tagFilter_true .tagDisplay_false {
    display: none;
}

.tagFilter_true .tagDisplay_true .postCo {
    position: relative;
    overflow: hidden;
    max-height: 100px;
}

.postShade,
.postShade span {
    display: none;
}

.tagFilter_true .tagDisplay_true .postShade {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
}

/* === ConceptTree ========================================================== */
.treeRoot>.nodeRoot>.nodeLblFra {
    border-left: 0px;
}

.treeRoot>.nodeRoot>.nodeLblFra>.nodeLbl {
    border-width: 2px;
}

.treeRoot>.nodeChildren_hide>.nodeLblFra>.nodeLbl {
    border-bottom-width: 5px;
}

.treeRoot>.nodeRoot>.nodeLblFra>.nodeLbl div.nodeTi {
    font-size: 1.1em;
}

.nodeChild {
    padding-left: 10px;
}

.nodeChild_pre {
    border-left: 2px solid silver;
}

.nodeLbl,
.nodeRef {
    border: 1px solid gray;
    padding: 5px 8px;
    display: inline-block;
    margin-top: 5px;
    background-color: white;
    max-width: 300px;
}

.nodeChildren_hide>div>.nodeLbl {
    background-position: bottom left;
    background-repeat: repeat-x;
    background-image: url(../img/tree/nodeChiHideBk.png);

}

.nodeLblCo {
    padding-left: 20px;
    background-position: center left;
    background-repeat: no-repeat;
}

.nodeRef {
    border-color: silver;
}

.nodeDesc {
    font-size: 0.8em;
    color: #737373;
}

.nodeChildren {
    padding-left: 5px;
}

div.nodeChildren_hide>div.nodeChildren {
    opacity: 0;
    height: 0px !important;
    transition-property: opacity, display;
    transition-duration: 0.1s;
    -moz-transition-property: opacity, height;
    -moz-transition-duration: 0.1s;
    -webkit-transition-property: opacity, height;
    -webkit-transition-duration: 0.1s;
}

div.nodeChildren_show>.nodeChildren {
    opacity: 1;
    height: auto;
    transition-property: opacity, display;
    transition-duration: 1.5s;
    -moz-transition-property: opacity, height;
    -moz-transition-duration: 1.5s;
    -webkit-transition-property: opacity, height;
    -webkit-transition-duration: 1.5s;
}

.nodeLead {
    display: inline-block;
    height: 18px;
    border-left: 2px solid silver;
    border-bottom: 2px solid silver;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    vertical-align: top;
}

.nodeLeadSpacer {
    display: inline-block;
    width: 12px;
    height: 18px;
}

.nodeRoot {
    display: inline-block;
}

.nodeLblFra,
.nodeRefFra {
    display: inline-block;
}

.nodeChildren_1 .nodeLbl {
    min-width: 60px;
}

.nodeChildren_2 .nodeLbl {
    min-width: 120px;
}

.nodeChildren_3 .nodeLbl {
    min-width: 180px;
}

.nodeChildren_4 .nodeLbl {
    min-width: 240px;
}

.nodeChildren_5 .nodeLbl {
    min-width: 300px;
}

.nodeChildren_6 .nodeLbl {
    min-width: 360px;
}

.nodeChildren_7 .nodeLbl {
    min-width: 420px;
}

.nodeChildren_8 .nodeLbl {
    min-width: 480px;
}

.nodeChildren_9 .nodeLbl {
    min-width: 540px;
}

.nodeIco {
    float: left;
    margin-right: 3px;
}

div.nodeTi {
    line-height: 16px;
    font-weight: bold;
    word-wrap: break-word;
}

span.nodeTi,
a.nodeTi {
    color: #464646;
}

.nodeChildren span.nodeTi,
.nodeChildren a.nodeTi {
    color: #525252;
}

.nodeChildren .nodeChildren span.nodeTi,
.nodeChildren .nodeChildren a.nodeTi {
    color: #5E5E5E;
}

.nodeChildren .nodeChildren .nodeChildren span.nodeTi,
.nodeChildren .nodeChildren .nodeChildren a.nodeTi {
    color: #6B6B6B;
}

.nodeChildren .nodeChildren .nodeChildren .nodeChildren span.nodeTi,
.nodeChildren .nodeChildren .nodeChildren .nodeChildren a.nodeTi {
    color: #787878;
}

.nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren span.nodeTi,
.nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren a.nodeTi {
    color: #858585;
}

.nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren span.nodeTi,
.nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren a.nodeTi {
    color: #919191;
}

.nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren span.nodeTi,
.nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren a.nodeTi {
    color: #9E9E9E;
}

.nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren span.nodeTi,
.nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren a.nodeTi {
    color: #ABABAB;
}

div.nodeChildren_hide>div.nodeChildren>.nodeChild {
    /*	margin-bottom:2px;*/
    /*	margin-right:5px;*/
    display: none;
}

a.nodeMoreDesc_a {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(..//img/co/search.gif);
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    margin-left: 5px;
    border: 0px;
}

a.nodeMoreDesc_a:hover {
    background-image: url(..//img/co/searchOver.gif);
    border: 0px;
}

.nodeMoreDesc_a span {
    display: none;
}

/* Node types */
.nodeType_normal .nodeLblCo {
    padding-left: 0px;
}

.nodeType_back .nodeLblCo {
    background-image: url(../img/tree/back.png);
}

.nodeType_date .nodeLblCo {
    background-image: url(../img/tree/date.png);
}

.nodeType_down .nodeLblCo {
    background-image: url(../img/tree/down.png);
}

.nodeType_flag .nodeLblCo {
    background-image: url(../img/tree/flag.png);
}

.nodeType_forbn .nodeLblCo {
    background-image: url(../img/tree/forbn.png);
}

.nodeType_forward .nodeLblCo {
    background-image: url(../img/tree/forward.png);
}

.nodeType_home .nodeLblCo {
    background-image: url(../img/tree/home.png);
}

.nodeType_idea .nodeLblCo {
    background-image: url(../img/tree/idea.png);
}

.nodeType_imp .nodeLblCo {
    background-image: url(../img/tree/imp.png);
}

.nodeType_imp {
    border: 1px solid #74515F;
}

.nodeChildren_hide>div>.nodeType_imp {
    background-image: url(../img/tree/nodeChiHideBkImp.png);
}

.nodeType_info .nodeLblCo {
    background-image: url(../img/tree/info.png);
}

.nodeType_key .nodeLblCo {
    background-image: url(../img/tree/key.png);
}

.nodeType_nok .nodeLblCo {
    background-image: url(../img/tree/nok.png);
}

.nodeType_ok .nodeLblCo {
    background-image: url(../img/tree/ok.png);
}

.nodeType_pers-female .nodeLblCo {
    background-image: url(../img/tree/pers-female.png);
}

.nodeType_pers-group .nodeLblCo {
    background-image: url(../img/tree/pers-group.png);
}

.nodeType_pers-male .nodeLblCo {
    background-image: url(../img/tree/pers-male.png);
}

.nodeType_quest .nodeLblCo {
    background-image: url(../img/tree/quest.png);
}

.nodeType_sm-happy .nodeLblCo {
    background-image: url(../img/tree/sm-happy.png);
}

.nodeType_sm-sad .nodeLblCo {
    background-image: url(../img/tree/sm-sad.png);
}

.nodeType_star .nodeLblCo {
    background-image: url(../img/tree/star.png);
}

.nodeType_stop .nodeLblCo {
    background-image: url(../img/tree/stop.png);
}

.nodeType_up .nodeLblCo {
    background-image: url(../img/tree/up.png);
}

.nodeType_wait .nodeLblCo {
    background-image: url(../img/tree/wait.png);
}

.nodeType_0 .nodeLblCo {
    background-image: url(../img/tree/0.png);
}

.nodeType_1 .nodeLblCo {
    background-image: url(../img/tree/1.png);
}

.nodeType_2 .nodeLblCo {
    background-image: url(../img/tree/2.png);
}

.nodeType_3 .nodeLblCo {
    background-image: url(../img/tree/3.png);
}

.nodeType_4 .nodeLblCo {
    background-image: url(../img/tree/4.png);
}

.nodeType_5 .nodeLblCo {
    background-image: url(../img/tree/5.png);
}

.nodeType_6 .nodeLblCo {
    background-image: url(../img/tree/6.png);
}

.nodeType_7 .nodeLblCo {
    background-image: url(../img/tree/7.png);
}

.nodeType_8 .nodeLblCo {
    background-image: url(../img/tree/8.png);
}

.nodeType_9 .nodeLblCo {
    background-image: url(../img/tree/9.png);
}

.nodeType_add .nodeLblCo {
    background-image: url(../img/tree/add.png);
}

.nodeType_delete .nodeLblCo {
    background-image: url(../img/tree/delete.png);
}

.nodeType_tfc-go .nodeLblCo {
    background-image: url(../img/tree/tfc-go.png);
}

.nodeType_tfc-stop .nodeLblCo {
    background-image: url(../img/tree/tfc-stop.png);
}

.nodeType_attach .nodeLblCo {
    background-image: url(../img/tree/attach.png);
}

.nodeType_cog .nodeLblCo {
    background-image: url(../img/tree/cog.png);
}

.nodeType_tag-blue .nodeLblCo {
    background-image: url(../img/tree/tag-blue.png);
}

.nodeType_tag-green .nodeLblCo {
    background-image: url(../img/tree/tag-green.png);
}

.nodeType_tag-orange .nodeLblCo {
    background-image: url(../img/tree/tag-orange.png);
}

.nodeType_tag-pink .nodeLblCo {
    background-image: url(../img/tree/tag-pink.png);
}

.nodeType_tag-red .nodeLblCo {
    background-image: url(../img/tree/tag-red.png);
}

.nodeType_tag-yellow .nodeLblCo {
    background-image: url(../img/tree/tag-yellow.png);
}

.nodeType_pencil .nodeLblCo {
    background-image: url(../img/tree/pencil.png);
}

.nodeType_puzzle .nodeLblCo {
    background-image: url(../img/tree/puzzle.png);
}

.nodeType_wand .nodeLblCo {
    background-image: url(../img/tree/wand.png);
}

.nodeType_zoom .nodeLblCo {
    background-image: url(../img/tree/zoom.png);
}

.treeSearch_mach>.nodeLblFra>.nodeLbl {
    border: 1px solid #74515F;
}

.treeSearch_mach>.nodeLblFra>.nodeLbl .nodeTi {
    color: #74515F;
}

.treeSearch_cur>.nodeLblFra>.nodeLbl {
    -webkit-animation: glow 0.5s ease-in-out 0s 1 alternate;
    animation: glow 0.5s ease-in-out 0s 1 alternate;
    background-color: #967381;
}

@-webkit-keyframes glow {
    0% {
        -webkit-transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.03);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes glow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1);
    }
}

/* === TOOLBAR - ConceptTree ========================================================== */
div.treeRoot.treeHasToolbar {
    border: 1px solid #74515F;
    margin-right: 5px;
}

div.treeRoot.treeHasToolbar .nodeDepth_0 {
    margin: 3px;
}

div.treeRoot.treeHasToolbar.treeSearch_off .treeScroll {
    overflow: hidden;
}

div.treeRoot.treeHasToolbar .treeScroll {}

div.treeRoot.treeHasToolbar.treeSearch_on .treeScroll {
    max-height: 600px;
    overflow: auto;
}

div.treeToolbar {
    background-color: #967381;
    border-bottom: 1px solid #74515F;
    padding: 0;
    height: 20px;
    text-align: right;
    z-index: 2;
    font-size: 0.75em;
    position: relative;
}

div.treeStatusbar {
    background-color: #fff5ea;
    border-top: 1px solid #74515F;
    padding: 0;
    text-align: left;
    padding: 3px;
    z-index: 2;
    font-size: 0.75em;
    position: relative;
    display: none;
    color: #737373;
}

div.treeRoot.treeSearch_on .treeStatusbar {
    display: block;
}

div.treeToolbar form.treeSearchForm {
    display: inline-block;
    position: absolute;
    left: 3px;
    top: 2px;
}

div.treeToolbar span.treeSearchLabel {
    display: inline-block;
    margin-right: 5px;
    color: #ffffff;
}

div.treeToolbar span.treeSearchResultLabel {
    display: inline-block;
    margin-left: 5px;
    color: #737373;
}

div.treeToolbar input.treeSearchInput {
    border: 1px solid #74515F;
    margin: 0;
    padding: 0;
}

div.treeSearch_off div.treeToolbar form.treeSearchForm {
    display: none;
}

div.treeToolbar a.treeBtnSearch {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/tree/search.png) center center no-repeat;
    margin-right: 3px;
}

div.treeSearch_on div.treeToolbar a.treeBtnSearch {
    background-color: #f0eeeb;
}

div.treeToolbar a.treeBtnOpenAll {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/tree/open.png) center center no-repeat;
    margin-right: 3px;
}

div.treeToolbar a.treeBtnCloseAll {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/tree/close.png) center center no-repeat;
    margin-right: 3px;
}

div.treeToolbar a.treeBtnPrv {
    display: inline-block;
    width: 20px;
    height: 14px;
    background: url(../img/tree/prv.png) center center no-repeat;
    margin-left: 3px;
    vertical-align: middle;
}

div.treeToolbar a.treeBtnNxt {
    display: inline-block;
    width: 20px;
    height: 14px;
    background: url(../img/tree/nxt.png) center center no-repeat;
    margin-left: 3px;
    vertical-align: middle;
}

div.treeToolbar a.treeBtnSearch:hover,
div.treeToolbar a.treeBtnPrv:hover,
div.treeToolbar a.treeBtnNxt:hover,
div.treeToolbar a.treeBtnOpenAll:hover,
div.treeToolbar a.treeBtnCloseAll:hover {
    opacity: 0.5;
}

div.treeToolbar span.treeSep,
div.treeToolbar a.treeBtnSearch span,
div.treeToolbar a.treeBtnPrv span,
div.treeToolbar a.treeBtnNxt span,
div.treeToolbar a.treeBtnOpenAll span,
div.treeToolbar a.treeBtnCloseAll span {
    display: none;
}

div.treeSearch_noact a.treeBtnNxt,
div.treeSearch_noact a.treeBtnPrv {
    display: none;
}

/* === STOP - ConceptTree ========================================================== */

/*	RESPONSIVE	*/
@media (max-width: 700px) {
    ul.outCat {
        border: 8px solid #e0dcd8;
    }

    ul.outCat li.outCat_sel_yes .outCat_i,
    ul.outCat li.outCat_sel_no .outCat_i {
        border-top: none;
    }

    ul.outCat li.outCat_sel_no .outCat_i {
        border-bottom: 8px solid #fff;
    }

    ul.outCat a.outCat_i:hover {
        border-bottom: 8px solid #967381;
    }
}

/*** skin site IGIDO ***/

:root {
  --degradeFondBas: #8a8a8a;
  --degradeFondHaut: #6b6b6b;
  --ton1Fonce: rgb(56, 52, 145);
  --ton1Clair: rgb(158, 155, 236);
  --ton1ExtraClair: rgb(249, 249, 255);
  --ton2Fonce: rgb(213, 100, 0);
  --ton2Clair: rgb(255, 158, 71);
  --ton2ExtraClair: rgb(251, 231, 213);
}

html{
    background:url(../img/tpl/rayonsBlancs.png) center -150px no-repeat, linear-gradient(0deg, var(--degradeFondBas) 80%, var(--degradeFondHaut) 100%) no-repeat var(--degradeFondBas);
}

body{
    background: transparent;
    font-family: arial;
    color: #505050;
    padding: 10px 10px 0;
}

a {
    color:var(--ton2Fonce);
    transition: color linear 0.2s, background-color linear 0.2s, opacity linear 0.2s;
}

a:hover {
    color:var(--ton1Fonce);
}

#header {
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background: linear-gradient(0deg, var(--ton1Fonce) 0%, var(--ton1Clair) 100%);
    box-shadow:inset 0 0 10px 0 var(--ton1Fonce), 0 0 10px 0 rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
}

#tplMain {
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background: white;
    box-shadow:0 0 10px 0 rgba(0,0,0,0.5);;
    padding-bottom: 20px
}

#footer{
    margin-top: 5px;
    padding-left: 40px;
    padding-right: 40px
}

#footer a{
    color: white
}

#menu {
    padding:0;
    border-width: 2px;
    border-style: solid;
    border-image:linear-gradient(to bottom, var(--ton1Fonce), white, white, white) 1 100%;
    border-left: 0;
    background-position: top right;
    background-repeat: no-repeat;
    background: url(../img/tpl/fondPlan.png) top right no-repeat, linear-gradient(var(--ton1ExtraClair) 50%, transparent 100%);
    border-bottom:0;
    border-top: 0;
    border-bottom-left-radius: 48px;
    min-height: 450px;
}

#navigation {
    order: 3;
    margin-bottom: 10px;
}

div.tplFootBanner {
    color: white
}

div.tplPge {
    max-width: 1000px;
    margin-top: 80px;
}

#header h1 {
    width: 100%;
    text-align: center;
    margin-top: -55px;
}

a.rootLnk {
    color: white;
    text-shadow: 0 0 7px black;
    font-style: oblique;
}

a.rootLnk:hover {
    color: white;
    opacity: 0.7
}

ul.mnu_root {
    padding: 3px 0 3px 0px;
    border:0
}

div.margin {
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 2px 3px #bdbdbd;
    padding: 0.3em
}

.margin_ti {
    padding: 0;
    color:var(--ton2Fonce);
}

.margin_ti span:empty{
    display: none
}

.margin_ti span{
    padding: 0.5em;
    background: linear-gradient(var(--ton2ExtraClair) 0%, white 100%);
    display:block;
    border-radius:7px;
    text-align: center
}

.margin_co{
    padding: 0;
}

.outMnu_dpt_0 > .outMnuLbl{
    display: none
}

ul.mnu_root {
    background-color: transparent;
    margin-left: 20px
}

li.outMnu_sel_yes .outMnu_sel_yes{
    background: none;
}

li.outMnu_sel_yes .outMnu_sel_yes > span > span{
    border-radius: 10px;
    background: var(--ton1Fonce);
    background: linear-gradient(var(--ton1Clair) 0%, var(--ton1Fonce) 100%);
    color: white
}

.outMnu_ti{
    padding: 0 5px;
    display: inline-block;
}

span > .outMnu_ti{
    text-shadow: 0 0 5px rgba(0,0,0,0.7)
}

ul.outMnu ul.outMnu_sub a.outMnu_i {
    color: var(--ton1Fonce);
    transition: all linear 0.2s;
    margin-left: 3px;
}

ul.outMnu ul.outMnu_sub a.outMnu_i:hover {
    color: var(--ton2Fonce);
}

ul.outMnu ul.outMnu_sub li.outMnu_sel_no .outMnu_sel_no:hover {
    background-color: transparent;
}

ul.outMnu li.outMnu_sel_no:hover {
    background-color: transparent;
}

ul.outMnu ul {
    list-style-image: url(../img/tpl/puceMenu.png);
}

ul.mnu_root ul.outMnu_sub li.outMnu_l .outMnu_i {
    margin: 0;
    padding: 0
}

ul.outMnu li.outMnu_b .outMnu_i {
    padding-left:0;
}

ul.outMnu ul.outMnu_sub .outMnu_i {
    margin-left: 3px;
    display: inline-block !important;
    vertical-align: middle
}

ul.outMnu a.outMnu_tgle_o, ul.outMnu a.outMnu_tgle_c {
    margin-left: 0;
    margin-right: 0;
}

ul.outMnu ul.outMnu_sub ul.outMnu_sub li.outMnu_sel_no:hover {
    background-color: transparent;
}

ul.outMnu ul.outMnu_sub ul.outMnu_sub li.outMnu_sel_no .outMnu_sel_no:hover {
    background-color: transparent;
}

ul.outMnu ul.outMnu_sub ul.outMnu_sub ul.outMnu_sub li.outMnu_sel_no .outMnu_sel_no:hover {
    background-color: transparent;
}

ul.outMnu a.outMnu_i {
    color: var(--ton1Fonce) !important;
}

ul.outMnu a.outMnu_i:hover{
    color:  var(--ton2Fonce) !important;
}

ul.mnu_root ul.outMnu_sub ul.outMnu_sub li.outMnu_l .outMnu_i {
    margin-left: 15px;
}

ul.outMnu ul.outMnu_sub ul.outMnu_sub a.outMnu_i {
    margin-left: 5px;
}

div.tplCoFra {
    border:0;
    padding: 0 0.5em
}

h1, h2, h3, h4, h5, h6 {
    color:var(--ton1Fonce);
}

h3{
    background: url(../img/co/h1.png) center left no-repeat;
    padding-left: 15px
}

.bkExtra h3{
    background: none;
    margin-bottom: 0
}

.bkEmphasis {
    background: linear-gradient(var(--ton2Fonce) 0%, white 90%);
    box-shadow: none;
    padding: 1.5px;
    border-radius: 15px;
}

.bkEmphasis .bkBase_ti {
    border:2px solid white;
    border-bottom: 0 !important;;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background: linear-gradient(90deg, var(--ton2Fonce) 0%, var(--ton2Clair) 100%);
    color: white;
    padding: 0.3em;
    box-shadow: inset 0 0 7px var(--ton2Fonce);
    margin: 0;
}

.bkEmphasis .bkBase_ti span{
    background: url(../img/co/blocImp.png) center left no-repeat;
    display: inline-block;
    padding: 2px;
    padding-left: 20px;
}

.bkEmphasis .bkBase_co {
    background: white;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 7px 10px;
}

.txt_emphasis_is,
.txt_quote_ph,
.txt_special_ph {
    color: var(--ton2Fonce);
    transition: all linear 0.2s;
}

a:hover .txt_emphasis_is,
a:hover .txt_quote_ph,
a:hover .txt_special_ph {
    color: var(--ton1Fonce)0;
}

p {
    text-align: justify;
    margin: 0 0 5px 0;
}

ul p{
    padding: 0;
}

p a {
    background-image: url(../img/co/lnkExt.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 12px
}

p a:hover {
    text-decoration: none;
    color: var(--ton1Fonce);
    background-image: url(../img/co/lnkExtOver.png)
}

.bkEmphasis ul {
    list-style-image: url(../img/co/feature.png);
}

.bkBase_closed {
    border-bottom: 1px solid var(--ton1Clair);
    padding-left: 18px;
    padding-bottom: 3px;
    display: block;
    background-position: left 2px
}

.bkBase_closed:hover, .bkBase_open:hover {
    color: var(--ton1Fonce);
}

.bkBase_open {
    border-bottom: 1px solid var(--ton1Clair);
    padding-left: 18px;
    padding-bottom: 3px;
    display: block;
    background-position: left 2px
}

.tplCoFra .bkExtra .bkBase_co {
    margin-left: 15px;
    border: 1px solid var(--ton1Clair);
    border-top: 0px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 10px
}

li p, li div {
    color: #505050
}

.txt_tb,
.txt_tb td{
    border: 0
}

a.txt_ul_imgOnly{
    margin: 0 0.3em
}

.margin .txt_anim_ex {
    margin: 0;
}

ul.outCat {
    margin: 0;
    border: 0;
    background-color: transparent
}

ul.outCat li.outCat_sel_yes .outCat_i {
    border-bottom: 0;
    border-top:0;
    border: 2px solid white;
    background-color: rgba(255,255,255,0.5);
    border-radius: 100px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    color: var(--ton1Fonce);
}

ul.outCat li.outCat_sel_no .outCat_i {
    border-bottom: 0;
    border-top:0;
    background-color: rgba(255,255,255,0.1);
    border-radius: 100px;
    color: white;
    border: 2px solid rgba(255,255,255,0.1);
    text-shadow: 0 0 7px rgba(0,0,0,0.8);
    transition: all linear0.2s
}

ul.outCat li.outCat_sel_no .outCat_i:hover {
    background-color: rgba(255,255,255,0.3);
}

ul.outCat li {
    margin: 3px
}

div.searchFra {
    min-height: 50px;
    border-top-right-radius: 43px;
    overflow:hidden;
    position: static;
    order: 2;
    align-self: end;
    margin-top: 7px;
    margin-right: 5px;
}

input.searchText, input.schInput {
    border: 0;
    box-shadow: none;
    font-size: 0.9em;
    width: 200px;
    height: 25px;
    padding-left: 5px;
    border: 1px solid white;
    color: var(--ton1Fonce);
}

input.searchSubmit, input.schBtnLaunch {
    display: inline-block;
    width: 45px;
    height: 29px;
    background-position: 1px 5px;
    background-repeat: no-repeat;
    background-color: var(--ton1Fonce);
    border: 0;
}

#accessibility {
    right: auto;
    left: 40px;
}

#accessibility a:hover {
    color: white
}

input.searchSubmit,
input.schBtnLaunch {
    transition: all linear 0.2s
}

input.searchSubmit:hover,
input.schBtnLaunch:hover {
    background-color: transparent;
}

.schCmds_act input.schInput {
    border: 1px solid var(--ton1Fonce);
}

.schPropose {
    width: 206px;
    border: 1px solid var(--ton1Fonce);
    border-top: 1px solid #edf1db;
    background: transparent;
}

.schPropose a{
    color: var(--ton1Fonce);
}

.schBtnPropose,
.schBtnPropose,
.schBtnPropose{
    background-color: white;
    margin: 0
}
.schBtnPropose:hover,
.schBtnPropose:active,
.schBtnPropose:focus {
    outline: none;
    text-decoration: none;
    background-color: var(--ton2ExtraClair);
}

.schProposeExceeded {
    background-color: white;
    color: var(--ton1Fonce);
}

div.mnu_sch_no a.mnu_lnk,
div.mnu_sch_no a.mnu_lnk:hover{
    color: inherit
}

.searchResults a.schPgeBtn,
.searchResults a.mnu_lnk {
    color: var(--ton1Fonce);
}

.searchResults a.schPgeBtn:hover,
.searchResults a.mnu_lnk:hover {
    text-decoration:none;
    color: var(--ton2Fonce);
}

div.mnu_sel_yes .mnu_lnk {
    text-decoration: none;
}

#content li{
    color: var(--ton1Fonce);
    font-weight: bold
}

#content li > *{
    color: #505050;
    font-weight: normal
}

.schResListSrl ul {
    color: var(--ton1Fonce);
}

.schResFrame {
    color: var(--ton1Fonce);
    background-color:#f3f3f3;
    border-right: 1px solid var(--ton1Fonce)
    border-top: 1px solid var(--ton1Fonce)
    border-left: 1px solid var(--ton1Fonce)
}

.mnu_sch, .schPgeBtn > span {
    background-color:#f3f3f3;
}

.schHit_current {
    background-color: yellow;
    animation:pulse 0.5s ease-in-out 0s 4 alternate;
    color: inherit;
    display: inline-block
}

@keyframes pulse {
	0% {transform: scale(1);}
	50% {transform:scale(1.1);}
	100% {transform: scale(1);}
}

.schHit {
    background-color: yellow;
}

.txt_tb td, .txt_tb th {
    border: 1px solid var(--ton1Clair);
}

.tt_act {
    background-color: var(--ton1Fonce);
}

div.tt {
   border: 1px solid var(--ton1Fonce);
}

div.tt_ti {
    background-color: var(--ton1Fonce);
}

.event_ti {
   color: inherit;
}

.event_closed {
    color: var(--ton1Fonce);
}

.event_closed:hover {
    color: var(--ton1Clair);
}

a.event_ti {
   color: var(--ton1Fonce) !important;
}

a.event_ti:hover {
   color: var(--ton1Clair) !important;
    text-decoration: none !important;
}

div.ttEvt_co {
    background-color: var(--ton1Fonce)
}

a.ttEvt_act,
a.ttEvt_act:hover {
    color: #FFFFFF !important;
    padding: 3px 5px !important;
}

a.scImgGalBtnCls:hover,
a.scImgZmBtnCls:hover {
    color: white
}

.skinEditorLink{
    order: 10
}

/*	RESPONSIVE	*/
@media (max-width: 700px){
    #menu {
        min-height: auto;
        border-image: none;
        border-radius:0;
        border: 0;
        border-bottom: 2px solid var(--ton1Fonce);
        background: var(--ton1ExtraClair);
        margin-top: 0
    }
}