/* STRUCTURE DU SITE */

/* Modify at your own risk */
html,body{
	margin:0;
	min-height:100%;
	height:100%;
	outline: 0px;
}
body {
	padding: 5px 5px 0;
	box-sizing: border-box;
	display:flex;
	flex-direction:column;
}
div.tplPge{
	max-width:1280px;
	width:100%;
	margin: 0 auto;
	flex: 2 1 auto;
}
#header h1{
	margin: 10px;
	width:70%;
}
ul.outCat {
	margin: 10px;
	display:inline-block;
	padding-left:0;
}
.hidden{
	position: absolute;
	width:1px;
	height:1px;
	visibility: hidden;
	top:-10000px;
	left:-10000px;
}

/*	AGENCEMENT VERTICAL	*/
div.tplPgeFra {
	display:flex;
	flex-direction:column;
	min-height:100%;
}
#header {
    flex: 0 0 auto;
	position:relative;
}
#tplMain {
    flex: 2 1 auto;
	z-index:9;
}
#footer {
    flex: 0 0 auto;
}

/*	AGENCEMENT HORIZONTAL	*/
div.tplColRgt {
	display: flex;
}
div.tplColWrp {
    flex: 2 1 auto;
    order: 2;
    padding: 10px;
}
#menu {
    flex: 0 0 225px;
    order: 1;
	padding: 10px;
}
#extras {
    flex: 0 0 225px;
    order: 3;
    padding: 10px;
}

/*	ACCESSIBILITÉ	*/
#accessibility {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	position:absolute;
	right:0;
	width:auto;
	z-index:90;
}
#accessibility li{
	float: left;
	margin-right:10px;
}

/*	SEARCH	*/
div.searchFra{
	position: absolute;
	right: 5px;
	top: 35px;
}
.schLabel {
	position: absolute;
	left: -9999px;
}
.schResFrame {
	position: fixed;
	left:50%;
	bottom:-80px;
    width:700px;
    margin-left:-350px;
	height: 50px;
	z-index: 91;
}
.schDisplay_on .schResFrame {
	bottom: 0;
}
.schDisplayList_on .schResFrame{
	height: 530px;
}
.schResList {
	position: absolute;
	bottom: 5px;
	left: 5px;
	top: 5px;
	right: 5px;
	display: none;
}
.schDisplayList_on .schResList {
	display: block;
}
.schResListSrl {
	position: absolute;
	left: 0px;
	right: 0px;
	overflow: auto;
	padding: 5px;
}

/*	MARGE DROITE	*/
.margin{
	margin-bottom: 10px;
}
.margin .txt_anim_ex {
    margin: -10px -10px -10px 0;
	max-width:210px;
}

/*	OPTIONS	*/
div.optContent{
	margin-top: 30px;
	padding-top: 10px;
}

/*	RESPONSIVE	*/
@media (max-width: 700px){
	div.tplColRgt {
		flex-direction:column;
		-ms-flex-direction:column;
	}
	div.tplColWrp {
		flex: 2 1 auto;
		-ms-flex: 2 1 auto;
		padding: 10px;
	}
	#menu {
		flex: 2 1 auto ;
		-ms-flex: 2 1 auto;
		margin-top: 10px;
	}
	#extras {
		flex: 2 1 auto;
		-ms-flex: 2 1 auto;
	}
	#header h1{
		margin: 0 10px;
		width:calc(100% - 20px);
	}
	ul.outCat {
		margin: 0;
	}
	#accessibility, .searchFra{
		display:none;
	}
	.margin .txt_anim_ex {
		max-width:100% !important;
	}
}